@import "mixin.scss";

$titleFont : 'SteelfishRg-Regular', helvetica, arial, sans-serif;
$montserrat : 'Montserrat', helvetica, arial, sans-serif;
$green : #0edfb5;

/* --------------- General --------------- */
* {
	outline : none;
}

html,body {
	font-family : $montserrat;
	height : 100%;
}

.clear {
	clear: both;
}

.fadeOut{
	@include transition(all, 0.5s, ease-in-out);
	opacity : 0;
}
.fadeIn {
	@include transition(all, 0.5s, ease-in-out);
	opacity : 1;
}


/* --------------- General --------------- */
#loginPage {
	background : url(../images/loginBg.jpg) no-repeat center fixed;
	background-size : cover;
	width:  100%;
	height: 100%;
	overflow : auto;
	overflow-y : auto;
	overflow-x : hidden;
	padding-bottom : 50px;	

	a {	
		@include transition(all, 0.2s, linear);
		&:hover {
			color : #bbbbbb;
			@include transition(all, 0.2s, linear);
		}
	}
	header {
		padding-top : 40px;
		a {
			&:hover {
				@include scale(1.05);
			}
		}
		img {
			display : block;
			margin : auto;
			width : 50%;
			max-width : 130px;
		}
		h1 {
			text-transform  : uppercase;
			color : white;
			text-align : center;
			margin-top : 20px;
			margin-bottom : 40px;
			font-family : $titleFont;
			font-weight : normal;
			font-size : 2.2rem;
		}
		p {
			text-align : center;
			color : white;
			width: 80%;
			margin : auto;
			line-height : 1.2em;

			span {
				display : block;
			} 
		}
		div:last-child {
			border-bottom : 1px solid white;
			width : 200px;
			margin : 30px auto 30px auto;
			height : 1px;
		}
	} 
	.registerElem {
		display : none;
	}
	p.registerElem {
		text-align : center;
		color : white;
		width: 80%;
		margin : auto;
		line-height : 0.8em;
		margin-top : 50px;
	}
	#registerSubmitBtn {
		display : none;
	}
	#soundCloudConnect {
		width : 90%;
		max-width : 278px;
		height : 35px;
		background : white;
		margin : 40px auto 15px auto;
		cursor : pointer;
		@include transition(all, 0.6s, ease-in-out);

		div:first-child {
			height : 40px;
			width : 25%;
			background : url(../images/soundCloudIcon.png) center 7px no-repeat;
			background-size : 50%;
			border-right : 1px solid rgba(0,0,0,0.8);
			float : left;
			@include transition(all, 0.2s, ease-in-out);
		}
		div:last-child {
			float : left;
			height : 40px;
			text-align : center;
			width : 75%;
			line-height : 37px;
			font-size : 0.9rem;
			@include transition(all, 0.2s, ease-in-out);
		}
		&:hover {
			div:first-child {
				background : url(../images/soundCloudIconHover.png) center 7px no-repeat;
				background-size : 50%;
			}
		}
	}
	form {
		width : 90%;
		max-width : 250px;
		margin : auto;
		input{
			width:  100%;
			height : 35px;
			border : none;
			border-bottom : 1px solid rgba(255,255,255,0.8);
			background : rgba(0,0,0,0.75);
			color : white;
			padding-left : 15px;
			padding-right : 15px;
			margin-left : -15px;
			margin-top: 20px;
		}
		input[type='submit']{
			display : none;
		}
	}
	#registerForm {
		display : none;
	}
	a {
		text-decoration : none;
		text-align : center;
		font-family : $montserrat;
		font-size : 0.7rem;
		color : rgba(255,255,255,0.75);
		display : block;
		margin : auto;
	}
	#accountBtn {
		margin-top : 20px;
	}
	.ghostButton {
		display : block;
		margin : auto;
		margin-top : 20px;
		border : 2px solid white;	
		width : 160px;
		text-transform : uppercase;
		position  : relative;

		.invert {
			top: 0;
			left: 0;
			background: #fff;
			color: black;
			width: 0px;
			height: 100%;
			opacity: 1;
			position: absolute;
			@include transition(all, 0.6s, ease-in-out);
		}
		.text {
			text-align: center;
			width: 100%;
			height: 40px;
			line-height: 40px;
			@include transition(all, 0.2s, ease-in-out);
			position: relative;
			z-index: 1;
		}

		&:hover {
			.invert {
				width : 100%;
			}
			.text {
				color : black;
			}
		}
	}

	.connectElem {
		@include transition(all, 0.5s, ease-in-out);
	}

}