<div class="dashboard dashboardPage" fullheight>
    <div class="dashboardContainer">
        <dropdown></dropdown>

        <aside>
            <div class="topAside">
                <img class="" src="http://mmm.nclsndr.fr/img/app/refreshPicto.png" width="24" height="24" alt="refresh">
            </div>

            <div class="asideElem" id="lastSongPlayed">
                <h3>Last song listened</h3>
                <img src="http://placekitten.com/g/200/200" width="55" height="55" alt="album cover">
                <div class="asideElemTxt">
                    <div class="songTitle">Born to die</div>
                    <div class="artist">Lana Del Ray</div>
                    <div class="time"><span>6 minutes</span> ago</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="asideElem" id="lastFriendAdded">
                <h3>Last friend added</h3>
                <img src="http://mmm.nclsndr.fr/img/app/avatarSample.png" width="55" height="55" alt="album cover">
                <div class="asideElemTxt">
                    <div class="friendName">Jack Sparrow</div>
                    <div class="time"><span>11 minutes</span> ago</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="asideElem">
                <h3>Musics that you liked</h3>
                <div class="asideElem" id="lastSongPlayed">
                    <img src="http://placekitten.com/g/200/200" width="55" height="55" alt="album cover">
                    <div class="asideElemTxt">
                        <div class="songTitle">Born to die</div>
                        <div class="artist">Lana Del Ray</div>
                        <div class="time"><span>6 minutes</span> ago</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="asideElem" id="lastSongPlayed">
                    <img src="http://placekitten.com/g/200/200" width="55" height="55" alt="album cover">
                    <div class="asideElemTxt">
                        <div class="songTitle">Little black submarines</div>
                        <div class="artist">Black Keys</div>
                        <div class="time"><span>30 minutes</span> ago</div>
                    </div>
                    <div class="clear"></div>
                </div>
                 <div class="asideElem" id="lastSongPlayed">
                    <img src="http://placekitten.com/g/200/200" width="55" height="55" alt="album cover">
                    <div class="asideElemTxt">
                        <div class="songTitle">Born to die</div>
                        <div class="artist">Lana Del Ray</div>
                        <div class="time"><span>50 minutes</span> ago</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="asideElem" id="lastSongPlayed">
                    <img src="http://placekitten.com/g/200/200" width="55" height="55" alt="album cover">
                    <div class="asideElemTxt">
                        <div class="songTitle">Little black submarines</div>
                        <div class="artist">Black Keys</div>
                        <div class="time"><span>2 hours</span> ago</div>
                    </div>
                    <div class="clear"></div>
                </div>
                 <div class="asideElem" id="lastSongPlayed">
                    <img src="http://placekitten.com/g/200/200" width="55" height="55" alt="album cover">
                    <div class="asideElemTxt">
                        <div class="songTitle">Born to die</div>
                        <div class="artist">Lana Del Ray</div>
                        <div class="time"><span>1 day</span> ago</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="asideElem" id="lastSongPlayed">
                    <img src="http://placekitten.com/g/200/200" width="55" height="55" alt="album cover">
                    <div class="asideElemTxt">
                        <div class="songTitle">Little black submarines</div>
                        <div class="artist">Black Keys</div>
                        <div class="time"><span>4 days</span> ago</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </aside>
        <a href="http://mmm.nclsndr.fr:3000/#/search">
            <span class="ghostButton">
                <span class="invert"></span>
                <span class="text">GET STARTED</span>
            </span>
        </a>
    </div>  
</div>