<div class="user login_register" fullheight>
    <header>
        <a href="#"><img src="http://mmm.nclsndr.fr/img/app/logo.png" alt="Logo Meet My Music" class="animated flipInY"></a>
        <h1 class="animated fadeInUp">MEET MY MUSIC</h1>
        <p class="animated fadeIn"><span>Come and share thousands of songs with </span> <span> users around the world.</span></p>
        <div class="animated zoomIn"></div>
    </header>
    
    <p class="clearfix registerElem animated fadeIn">Connectez-vous tout d'abord à votre compte SoundCloud</p>

    <div id="soundCloudConnect" ng-click="connectSC()" class="animated {{ui.SCBtState}}">
        <div></div>
        <div>Log in with <b>SoundCloud</b></div>
    </div>

    <div class="login animated {{ui.loginState}}">  
        <span ng-click="showRegister()" class="ghostButton connectElem create_account">
            <span class="invert"></span>
            <span class="text">create an account</span>
        </span>
    </div>

    <div class="register_msg animated {{ui.msgRegisterState}}">
        <p>WE MUST VALIDATE YOUR SOUNDCLOUD ACCOUNT BEFORE REGISTER</p>
    </div>
    
    <!-- Register Form -->
    <div class="register animated {{ui.registerState}}">
        <form ng-submit="registerForm()" novalidate name="register">
            <img src="{{register.avatar_url}}" alt="" class="avatar">
            <input type="hidden" name="api_id" ng-model="register.api_id"> 
            <input type="hidden" name="lat" ng-model="register.lat">
            <input type="hidden" name="lng" ng-model="register.lng">
            <input type="hidden" name="avatar_url" ng-model="register.avatar_url"> 
            <input type="text" name="username" placeholder="Username" ng-model="register.username" username-valid>
            <input type="email" overwrite-email placeholder="Mail" ng-model="register.mail">
            <span ng-show="register.overwrittenEmail.$error.mail">This email format is invalid!</span>
            <input type="text" name="city" placeholder="City, Country" ng-model="register.city_country" > 
            <span class="ghostButton connectElem">
                <span class="invert"></span>
                <input type="submit" class="text"  value="REGISTER">
            </span>
        </form>   
    </div>
</div>