<div ng-controller="UserCtrl" class="user login_register" style="height:{{ui.bgHeight}}px;">
    <header>
        <a href="#"><img src="http://mmm.nclsndr.fr/img/app/logo.png" alt="Logo Meet My Music" class="animated flipInY"></a>
        <h1 class="animated fadeInUp">MEET MY MUSIC</h1>
        <p class="animated fadeIn"><span>Come and share thousands of songs with </span> <span> users around the world.</span></p>
        <div class="animated zoomIn"></div>
    </header>
    
    <p class="clearfix registerElem animated fadeIn">Connectez-vous tout d'abord à votre compte SoundCloud</p>

    <div id="soundCloudConnect" ng-click="connectSC()" class="animated {{ui.SCBtState}}">
        <div></div>
        <div>Log in with <b>SoundCloud</b></div>
    </div>

    <div class="login animated {{ui.loginState}}">  
        <span ng-click="showRegister()" class="ghostButton connectElem create_account">
            <span class="invert"></span>
            <span class="text">create an account</span>
        </span>
    </div>

    <div class="register_msg animated {{ui.msgRegisterState}}">
        <p>WE MUST VALIDATE YOUR SOUNDCLOUD ACCOUNT BEFORE REGISTER</p>
    </div>
    
    <!-- Register Form -->
    <div class="register animated {{ui.registerState}}">
        <img src="{{User.register.avatar_url}}" alt="" class="avatar">
        <form ng-submit="registerForm()">
            <input type="hidden" name="api_id" ng-model="User.register.api_id"> 
            <input type="hidden" name="avatar_url" ng-model="User.register.avatar_url"> 
            <input type="text" name="username" placeholder="Username" ng-model="User.register.username" required>
            <input type="email" name="mail" placeholder="Mail" ng-model="User.register.mail" required>
            <input type="password" name="password" placeholder="Password" ng-model="User.register.password" required> 
            <span class="ghostButton connectElem">
                <span class="invert"></span>
                <input type="submit" class="text"  value="REGISTER">
            </span>
        </form>   
    </div>
</div>