<div class="user login_register" fullheight>
    <header class="midHeader">
        <a href="#"><img src="http://mmm.nclsndr.fr/img/app/logo.png" alt="Logo Meet My Music" class="animated flipInY"></a>
        <h1 class="animated fadeInUp">MEET MY MUSIC</h1>
        <p class="animated fadeIn"><span>Come and share thousands of songs with </span> <span> users around the world.</span></p>
        <div class="animated zoomIn"></div>
    </header>
    
    <p class="clearfix registerElem animated fadeIn">Connectez-vous tout d'abord à votre compte SoundCloud</p>

    <div ng-show="!ui.displayRegister" id="soundCloudConnect" ng-click="connectSC()" class="animated {{ui.SCBtState}}">
        <div></div>
        <div>Log in with <b>SoundCloud</b></div>
    </div>

    <div ng-show="ui.showCreateAccount" class="login animated {{ui.loginState}}">  
        <span ng-click="showRegister()" class="ghostButton connectElem create_account">
            <span class="invert"></span>
            <span class="text">create an account</span>
        </span>
    </div>

    <div ng-show="ui.validateMessage" class="register_msg animated {{ui.msgRegisterState}}">
        <p>WE MUST VALIDATE YOUR SOUNDCLOUD ACCOUNT BEFORE REGISTER</p>
    </div>
    
    <!-- Register Form -->
    <div ng-show="ui.displayRegister" class="register animated {{ui.registerState}}">
        <form ng-submit="register.$valid && registerForm()" novalidate name="register">
            <img ng-src="{{ui.avatar_url}}" alt="" class="avatar">
            <input type="hidden" name="lat" ng-model="lat">
            <input type="hidden" name="lng" ng-model="lng">

            <input type="text" username ng-model="username" ng-model-options="{ debounce: 500 }" name="username" placeholder="Username">
            <span ng-show="register.username.$error.usernameexists" class="form_error">This user already exists</span>

            <input type="email" overwrite-email placeholder="Mail" ng-model="email" name="email">
            <span ng-show="register.email.$error.emailFormat" class="form_error">This email format is not valid</span>
            <span ng-show="register.email.$error.emailEmpty" class="form_error">Email can't be left blank</span>

            <input type="text" maps-auto-complete name="city_country" placeholder="City, Country" ng-model="city_country">
            <span ng-show="register.city_country.$error.isEmpty" class="form_error">You must fill your location</span>
            <span ng-show="register.city_country.$error.isComplete" class="form_error">You must use the autocomplete</span>

            <span ng-class="{disabled : register.$invalid}" class="ghostButton connectElem">
                <span class="invert"></span>
                <input  type="submit" class="text"  value="REGISTER">
            </span>
        </form>   
    </div>
</div>