<div ng-controller="PregameCtrl" class="view">
	<div class="desktopContainer" id="preGame" fullHeight>
		<header>
            <a href="http://mmm.nclsndr.fr:3000/#/dashboard"><h1 class="animated fadeInDown">MEET MY MUSIC</h1></a>
            <div id="userOption">
                <div id="username">{{me.username}}</div>
                <div>
                    <img src="{{me.avatar_url}}" alt="">
                </div>
                <div id="dropDownIcon">▼</div>
            </div>
        </header>
        
        <ul class="dropdownUser animated fadeInDown">
            <li>My profile</li>
            <li>Edit my profil</li>
            <li>Parameters</li>
        </ul>

        <div class="midHeader">
            <h2 class="animated fadeIn">For maximum experience with the application,<br>flash this code with your smarphone.</h2>
        </div>

        <div class="preGameContainer">

            <div id='qrCode'>
                <img ng-src="https://api.qrserver.com/v1/create-qr-code/?size=220x220&data={{me.token}}" alt="qrCode">
                <span>Scan the QR code above<br>to control
                the application with your smartphone.</span>
            </div>

            <div id="motion" >
                <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls
                 preload="auto" width="391" height="219" poster="http://mmm.nclsndr.fr/img/app/motionPoster.jpg"
                 data-setup="{}">
                 <source src="http://www.w3schools.com/html/mov_bbb.mp4" type='video/mp4'>
                 <source src="http://www.w3schools.com/html/mov_bbb.webm" type='video/webm'>
                 <source src="http://www.w3schools.com/html/mov_bbb.ogg" type='video/ogg'>
                 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
                <span>Learn how to use our application <br>
                by watching the above video.</span>
            </div>
            <div class="clear"></div>
        </div>
        <a href="http://mmm.nclsndr.fr:3000/#/search" class="ghostButton">
            <span class="invert"></span>
            <span class="text">Continue without a phone</span>
        </span>
	</div>
</div>

<script type="text/javascript-lazy" src="http://vjs.zencdn.net/4.10/video.js"></script>