<div ng-controller="PregameCtrl" class="view">
	<div class="dashboardContainer">
		<header>
            <a href="http://mmm.nclsndr.fr:3000/#/dashboard"><h1 class="animated fadeInDown">MEET MY MUSIC</h1></a>
            <div id="userOption">
                <div id="username">{{me.username}}</div>
                <div>
                    <img src="{{me.avatar_url}}" alt="">
                </div>
                <div id="dropDownIcon">▼</div>
            </div>
        </header>
        
        <ul class="dropdownUser animated fadeInDown">
            <li>My profile</li>
            <li>Edit my profil</li>
            <li>Parameters</li>
        </ul>
	</div>
</div> 