<div ng-controller="PregameCtrl" class="view">
	<div class="dashboardContainer">
		<header>
            <a href="http://mmm.nclsndr.fr:3000/#/dashboard"><h1 class="animated fadeInDown">MEET MY MUSIC</h1></a>
            <div id="userOption">
                <div id="username">{{me.username}}</div>
                <div>
                    <img src="{{me.avatar_url}}" alt="">
                </div>
                <div id="dropDownIcon">▼</div>
            </div>
        </header>
        
        <ul class="dropdownUser animated fadeInDown">
            <li>My profile</li>
            <li>Edit my profil</li>
            <li>Parameters</li>
        </ul>
        
        <div class="midHeader">
            <a href="#"><img src="http://mmm.nclsndr.fr/img/app/logo.png" alt="Logo Meet My Music" class="animated flipInY"></a>
            <h1 class="animated fadeInUp">MEET MY MUSIC</h1>
            <p class="animated fadeIn"><span>For maximum experience with the application,</span><span>flash this code with your smarphone</span></p>
        </div>

	</div>
</div>