.hidden{
	display: none;
}

gmap{
	width: 100%!important;
	display: block!important;
	position: fixed!important;
	z-index: 0!important;
	left: 0!important;
	top: 0!important;
	margin: 0!important;
}
gmap.hidden {
	opacity: 0!important;
	z-index: -1000!important;
}

.user.login_register form input{
	width: 90%;
	padding: 0 5%;;
}

form .form_error{
	color: #FFF;
	background: #BA000F;
	font-size: .8rem;
	display: block;
	width: 100%;
	padding: .4rem .6rem;
	margin-top: 2px;;
}


.notifications_container {
  position: fixed;
  right: .6rem;
  top: 0;
  z-index: 101;
  width: 200px;
}
.notifications_container ul {
  list-style: none;
}
.notifications_container ul li {
  color: white !important;
  position: relative;
  display: block;
  padding: .6rem;
  background: #0edfb5;
  width: 100%;
  color: #333;
  margin-top: .6rem;
  text-align: center;
}
.notifications_container ul li.error {
  background: #e40151;
}

.loadPeer{
	position: relative;
	width: 100%;
	margin-top: 20rem;
	text-align: center;
}
.loadPeer h3{
	color: #FFF;
}


.playerContainer #player2 .fromMeRequest{
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(14, 223, 181, 0.6);
  z-index: -1;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.playerContainer #player2 .fromPeerRequest{
	display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(14, 223, 181, 0.6);
  z-index: -1;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.playerContainer #player2 .fromMeMessage, .playerContainer #player2 .fromPeerMessage {
  display: none;
}

.playerContainer .fromMe #player2 .fromMeRequest {
  display: block !important;
}
.playerContainer .fromMe #player2 .location {
  margin-bottom: 15px;
}
.playerContainer .fromMe #player2 .fromMeMessage {
  display: block;
}
.playerContainer .fromMe #addToFriendsBtn {
  border-color: #0edfb5;
}
.playerContainer .fromMe #addToFriendsBtn .invert {
  background: #0edfb5;
}
.playerContainer .fromMe #addToFriendsBtn .text {
  color: #0edfb5 !important;
}
.playerContainer .fromMe #addToFriendsBtn:hover .text {
  color: white !important;
}

.playerContainer .fromPeer #player2 .fromPeerRequest {
  display: block !important;
}
.playerContainer .fromPeer #player2 .location {
  margin-bottom: 15px;
}
.playerContainer .fromPeer #player2 .fromPeerMessage {
  display: block;
}
.playerContainer .fromPeer #addToFriendsBtn {
  border-color: #0edfb5;
}
.playerContainer .fromPeer #addToFriendsBtn .invert {
  background: #0edfb5;
}
.playerContainer .fromPeer #addToFriendsBtn .text {
  color: #0edfb5 !important;
}
.playerContainer .fromPeer #addToFriendsBtn:hover .text {
  color: white !important;
}



.refreshBt{
	animation: infinite_rotation linear 2s;
	animation-fill-mode:forwards; /*when the spec is finished*/
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation-fill-mode:forwards; /*IE 10+*/
	transform-origin: 50% 50%;
	-webkit-animation: infinite_rotation linear 2s;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: infinite_rotation linear 2s;
	-moz-transform-origin: 50% 50%;
	-o-animation: infinite_rotation linear 2s;
	-o-transform-origin: 50% 50%;
	-ms-animation: infinite_rotation linear 2s;
	-ms-transform-origin: 50% 50%;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: paused; 
	-moz-animation-play-state: paused; 
	-o-animation-play-state: paused; 
	-ms-animation-play-state: paused; 
    animation-play-state: paused;
}

.infinite_rotate{

	-webkit-animation-play-state: running; 
	-moz-animation-play-state: running; 
	-o-animation-play-state: running; 
	-ms-animation-play-state: running; 
    animation-play-state: running;
  
}

@keyframes infinite_rotation{
  0% {
    transform:  rotate(0deg) ;
  }
  100% {
    transform:  rotate(360deg) ;
  }
}

@-moz-keyframes infinite_rotation{
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  100% {
    -moz-transform:  rotate(360deg) ;
  }
}

@-webkit-keyframes infinite_rotation {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  100% {
    -webkit-transform:  rotate(360deg) ;
  }
}

@-o-keyframes infinite_rotation {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  100% {
    -o-transform:  rotate(360deg) ;
  }
}

@-ms-keyframes infinite_rotation {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  100% {
    -ms-transform:  rotate(360deg) ;
  }
}





