gmap{
	width: 100%;
	display: block;
	position: fixed;
	z-index: 0;
	left: 0;
	top: 0;
	margin: 0;
}
gmap.hidden {
	opacity: 0;
	z-index: -1000;
}

.user.login_register form input{
	width: 90%;
	padding: 0 5%;;
}

form .form_error{
	color: #FFF;
	background: #BA000F;
	font-size: .8rem;
	display: block;
	width: 100%;
	padding: .4rem .6rem;
	margin-top: 2px;;
}


.notifications_container {
  position: fixed;
  right: .6rem;
  top: 0;
  z-index: 101;
  width: 200px;
}
.notifications_container ul {
  list-style: none;
}
.notifications_container ul li {
  color: white !important;
  position: relative;
  display: block;
  padding: .6rem;
  background: #0edfb5;
  width: 100%;
  color: #333;
  margin-top: .6rem;
  text-align: center;
}
.notifications_container ul li.error {
  background: #e40151;
}