body {
    background-color: #09C2BF;
}
#overlay {
	position : absolute;
	background : rgba(0,0,0,0.4);
	z-index : 2;
	top : 0;left: 0;right: 0;bottom: 0;
	display : none;
	opacity : 0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.overlay-visible {
	display : block !important;
	opacity : 0.8 !important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#passTheSong {
	color : #FFF;
	position : absolute;
	left : 20px;
	top : 130px;
	text-transform: uppercase;
	font-weight: bold;
}

#addFriend {
	color : #FFF;
	position : absolute;
	right : 20px;
	top : 130px;
	text-transform: uppercase;
	font-weight: bold;
}

#page {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
h1, h2 {
    text-align: center;
    color: #EEE;
}
.nextMusic {
    color: #FA6E69;
}
.friendAdded {
    color: #97D17A;
}
#album-cover {
    /*transition*/
    margin-top : 40px;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
#albumCover {
    position: relative;
    width: 80%;
    max-width: 400px;
    cursor: pointer;
    display: block;
}
.swipeRight {
    opacity: 0;
    -moz-transform: scale(1.3)  translate(80%, 0px) !important;
    -webkit-transform: scale(1.3)  translate(80%, 0px) !important;
    -o-transform: scale(1.3)  translate(80%, 0px) !important;
    -ms-transform: scale(1.3)  translate(80%, 0px) !important;
    transform: scale(1.3) translate(80%, 0px) !important;
    /*transition*/
    	
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.swipeLeft {
    opacity: 0;
    -moz-transform: scale(1.3) rotate(-60deg) translate(-80%, 0px) !important;
    -webkit-transform: scale(1.3) rotate(-60deg) translate(-80%, 0px) !important;
    -o-transform: scale(1.3) rotate(-60deg) translate(-80%, 0px) !important;
    -ms-transform: scale(1.3) rotate(-60deg) translate(-80%, 0px) !important;
    transform: scale(1.3) rotate(-60deg) translate(-80%, 0px) !important;
    /*transition*/
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#resetBtn {
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}
