/* ———————————————————————————————————————————————————————————— FONTS ———————————————————————————————————————————————————————————— */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
  font-family: "SteelfishRg-Regular";
  src: url("../font/steelfish_rg.eot?") format("eot"), url("../font/steelfish_rg.woff") format("woff"), url("../font/steelfish_rg.ttf") format("truetype"), url("../font/steelfish_rg.svg#SteelfishRg-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import "mixin.scss";

$titleFont : 'SteelfishRg-Regular', helvetica, arial, sans-serif;
$montserrat : 'Montserrat', helvetica, arial, sans-serif;
$green : #0edfb5;

/* --------------- GENERAL --------------- */
html,body {
	font-family : $montserrat;
	height : 100%;
	background : #787882;
}
* {
	outline : none;
}
.clear {
	clear: both;
}
.mobileContainer {
	position : relative;
	background : url(../img/app/bgMobile.jpg) fixed no-repeat #787882;
	background-size : cover;
	min-height : 100%;
	width : 100%;
	padding-bottom : 15px;
	color : white;
	overflow-x : hidden;
	header {
		background : black;
		width : 100%;
		height : 50px;
		margin-bottom : 30px;
		h1 {
			text-transform  : uppercase;
			color : white;
			font-family : $titleFont;
			font-weight : normal;
			font-size : 1.8rem;
			line-height : 50px;
			margin-left : 15px;
			padding-left : 55px;
			cursor : pointer;
			background : url(../img/app/logo.png) left  no-repeat;
			background-size : 36px 36px;
			float : left
		}
	}
}
button {
	padding : 15px;
	color : white;
	border : 0;
	background : #0edfb5;
	margin : 30px auto;
	display : block;
	cursor : pointer;
}
p {
	color : white;
	max-width : 80%;
	text-align : center;
	line-height : 1rem;
	letter-spacing : 0.05em;
	font-size : 1.2em;
	margin : auto;
}
h2 {
	font-size : 1.2rem;
	color : white;
	text-align : center;
	width : 80%;
	margin : auto;
}
h3 {
	font-size : 1.2rem;
	font-weight : normal;
	padding-top : 5px;
	color : white;
	text-align : center;
}
strong {
	color : $green;
}
.albumCover,#albumCoverP2 {
	width : 270px;
	height : 270px;
	display : block;
    margin : 35px auto;
    
	img {
		width : 100%;
		display : block;
		-webkit-border-radius:50%;
	    -moz-border-radius:50%;
	    border-radius:50%;
	}
	#noPicture {
		width : 100%;
		height : 100%;
		display : block;
		-webkit-border-radius:50%;
	    -moz-border-radius:50%;
	    border-radius:50%;
	    background: url("http://mmm.nclsndr.fr/img/app/noPicture.jpg") center no-repeat;
		background-size: cover;
		position : absolute;
		top : 0;
		left 0;
		z-index:-1;

	}
}

/* --------------- OVERLAY : ADDFRIEND, NEXTSONG & INDICATIONS --------------- */
#overlay {
	position : absolute;
	background : rgba(0,0,0,0.4);
	z-index : 2;
	top : 0;left: 0;right: 0;bottom: 0;
	display : none;
	opacity : 0;
	font-size : 0.7rem;
	@include transition(all, 0.5s, ease);
	span {
		position : absolute;
		top : 120px;
		text-transform: uppercase;
	}
	.passTheSong {
		left : 20px;
	}

	.addFriend {
		right : 20px;
	}
}
.overlay-visible {
	display : block !important;
	opacity : 0.8 !important;
	@include transition(all, 0.5s, ease);
}
.feedBackOverlay {
	display : none;
	position : absolute;
	top : 50px;
	z-index : 2;
	height : 100%;
	width : 100%;
	background : #787882;
	opacity : 1;
	@include transition(all, 0.5s, ease);
	div {
		width : 240px;
		height : 240px;
		// background : url('../img/app/profilMobile.png') no-repeat center;
		// background-size : contain;
		margin : auto;
		margin-top : 30px;

		img:first-of-type {
			width : 200px;
			height : 200px;
			-webkit-border-radius:50%;
		    -moz-border-radius:50%;
		    border-radius:50%;
		    border : 3px solid white;
		}
		img{
			margin : auto;
			display : block;
		}
		.pictoFeedBack {
			position: absolute;
			top: 7%;
			left: 15%;
			width: 70%;
		}
	}
	p {
		margin-top : 20px;
		font-size : 1rem;
		line-height : 1.4em;
	}
}

#songPassedOverlay {
	.loading {
		width : 25px;
		margin : 5px auto;
		display :  block;
	}
}

#landscapeOverlay {
	width: 100%;
	img {
		width : 20%;
		max-width : 200px;
		margin : 40px auto;
		display : block;
	}
}

.fadeOut {
	opacity : 0;
	@include transition(all, 0.3s, ease);
}
/* --------------- STEP 1 : PLEASE CHOSE YOUR SONG --------------- */
#step1{
	img:first-of-type{
		width : 60%;
		height : auto;
		max-width : 400px;
		margin : auto;
		display : block;
		margin-top : 20px;
	}
	p {
		margin : 50px auto;
	}
	img:last-of-type{
		width : 25%;
		max-width : 360px;
		height : auto;
		display : block;
		margin : auto;
	}
}

/* --------------- STEP 3 : PLAYING WITH ANOTHER PLAYER --------------- */
#step3{
	.otherPlayer{
		width : 100%;
		color : white;
		background : #353538;
		padding : 8px 15px;
		line-height : 1.2rem;
		position : absolute;
		top : 50px;
		overflow: hidden;
		font-size : 0.86rem;
	} 
	#albumCoverP2 {
		margin : 100px 0 20px 0;
		cursor : pointer;
		@include transition(all, 0.1s, linear);
	}
	.albumCover {
		margin : 100px auto 20px auto !important;
	}
	.timeCodeContainer {
		text-align : center;
		font-size : 0.75rem;
		margin-bottom : 10px;
		#tcProgress {
			color : $green;
		}
	}
	h2 {
		font-size : 1.1rem;
	}
	h3 {
		font-size : 1rem;
	}
	.volumeControler {
		width : 65%;
		max-width : 490px;
		margin : 25px auto 20px auto;
		overflow : visible;
		position : relative;
		img {
			width : 20px;
			position : absolute;
			top : -10px;
			cursor : pointer;
		}
		img:first-of-type {
			left: -30px;
		}
		img:last-of-type {
			right: -34px;
		}
	}
	#volumeBar {
		width : 100%;
		margin : auto;
		height : 2px;
		background : rgba(255,255,255,0.7);
		cursor : pointer;
		position : relative;

		#volumeCursor {
			width : 10px;
			height : 10px;
			background : white;
			-webkit-border-radius:50%;
		    -moz-border-radius:50%;
		    border-radius:50%;
		    display : block;
		    position : absolute;
		    top : -4px;
		    left : 70%;
		}
	}
	.playPauseBtn {
		width : 45%;
		max-width : 150px;
		margin : 20px auto;
		display : block;
		button {
			width : 36px;
			height : 36px;
			cursor : pointer;
			margin-top : 0;
			margin-bottom : 0;
		}
		#pauseBtn {
			float : left;
			background : url('http://mmm.nclsndr.fr/img/app/playBtn.png') no-repeat;
			background-size : cover;
		}
		#playBtn {
			float : right;
			background : url('http://mmm.nclsndr.fr/img/app/pauseBtn.png') no-repeat;
			background-size : cover;
		}
	}
	#svgCircle {
		width : 100%;
		height: 100%;
		overflow : hidden;
		-webkit-border-radius:50%;
	    -moz-border-radius:50%;
	    border-radius:50%;
		-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
		-moz-transform: rotate(270deg); /* Chrome, Safari, Opera */
		transform: rotate(270deg);
		position : absolute;
		top : 0;
		z-index: 10;
		circle {
			width : 100%;
			height : 100%;
			transition: stroke-dashoffset 1s linear;
			stroke-width: 12px;
		}	
		#bar {
			stroke: #0edfb5;
		}	
		#barBg {
			stroke: rgba(255,255,255,0.15);
		}
		#fillBg {
			stroke : rgba(0,0,0,0.5);
			stroke-width: 100%;
		}
	}
	#fillBg{}
	.lineSVG {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow : visible;
		top : 0;
		z-index: 100;
		line {
			stroke:rgb(255,255,255);
			stroke-width: 1;
		}
	}
	#currentLine {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transform-origin: 50%;
		-moz-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition: all 1s linear;
		-moz-transition: all 1s linear;
		-ms-transition: all 1s linear;
		-o-transition: all 1s linear;
		transition: all 1s linear;
	}
}


